* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




@media (max-midth:380px) {
    .home {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}